@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

// VARIABLES START
$themeColor: #2365b1;
// VARIABLES END

/* GLOBAL CLASSES START */
html {
	width: 100%;
	font-size: 62.5%;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 60.5%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 58.5%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 56.5%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 52.5%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 50.5%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 46.5%;
	}
}

.themeBtn {
	background-color: $themeColor;
	padding: 0.6rem 2.6rem;
	border-radius: 50px;
	font-size: 1.8rem;
	border: none;
	outline: none;
	color: #fff;
	text-transform: uppercase;
	transition: 0.5s all;

	&:hover {
		background-color: #2a4d79;
	}
}

.themeBtn2 {
	background-color: $themeColor;
	padding: 0.8rem 2.4rem;
	border-radius: 50px;
	font-size: 1.2rem;
	border: none;
	outline: none;
	color: #fff;
	text-transform: uppercase;
	transition: 0.5s all;

	&:hover {
		background-color: #2a4d79;
	}
}

.themeText {
	color: $themeColor;
}

.grid_sideLine {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: 0%;
		top: 0%;
		height: 100%;
		width: 0.7rem;
		background-color: $themeColor;
		border-radius: 5px;
	}
}

// MIXIN START
@mixin sectionDiv {
	max-width: 1100px;
	margin: auto;
}
/* GLOBAL CLASSES END */

/* ==== TOP NAVBAR START ==== */
.NavbarContainer {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem 8rem;
	transition: 0.7s;
	z-index: 10000;

	.logo_container {
		cursor: pointer;
		img {
			width: 170px;
			height: autos;
			transition: 0.7s;
		}

		@media screen and (max-width: 330px) {
			img {
				width: 150px;
			}
		}
	}

	ul {
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
		align-items: center;
		transition: 0.7s;

		li {
			list-style-type: none;
			transition: 0.7s;

			a {
				position: relative;
				font-size: 1.3rem;
				margin: 0rem 1.8rem;
				font-weight: 600;
				letter-spacing: 0.2rem;
				text-decoration: none;
				color: #fff;
				transition: 0.7s;
				padding: 0rem 0.5rem 0.8rem 0.5rem;
			}
			.activeNav::after {
				content: "";
				position: absolute;
				left: 0%;
				bottom: 0%;
				height: 14%;
				width: 100%;
				background-color: $themeColor;
				border-radius: 5px;
			}
		}
	}

	.contactBtn a {
		color: #fff;
		border: 3px solid $themeColor;
		padding: 0.7rem 2.7rem;
		border-radius: 10px;
		text-decoration: none;
		font-size: 1.3rem;
		font-weight: 600;
	}
}

.NavbarContainer.sticky {
	padding: 1.8rem 8rem;
	box-shadow: 0px 0px 15px #000;
	background-color: rgb(0, 0, 0);

	h1 {
		color: #fff;
	}

	ul li a {
		color: #fff;
	}

	.contactBtn a {
		color: #fff;
	}
}

.hamburgerContainer {
	img {
		width: 30px;
		height: auto;
		cursor: pointer;
	}

	@media screen and (max-width: 330px) {
		img {
			width: 25px;
		}
	}
}

.HideClass {
	display: none;
}

@media screen and (min-width: 1000px) {
	.NavbarContainer.sticky {
		background-color: rgb(0, 0, 0);
		box-shadow: 0px 0px 15px #000;
		color: #fff;
	}
}

@media screen and (max-width: 1000px) {
	.NavbarContainer,
	.NavbarContainer.sticky {
		padding: 2.5rem 5rem;
	}
	.NavbarContainer h1,
	.NavbarContainer.sticky h1 {
		font-size: 2.2rem;
	}
}

@media screen and (max-width: 952px) {
	// .NavbarContainer.sticky {
	// 	background-color: #000000;
	// }
	.HideClass {
		display: block;
	}
	.NavbarContainer.sticky .HideClass i {
		color: #fff;
	}
	.NavbarContainer.sticky h1 {
		color: #fff;
	}
	.NavbarContainer {
		ul {
			display: none;
		}

		.contactBtn {
			display: none;
		}
	}
}

@media screen and (max-width: 800px) {
	.NavbarContainer,
	.NavbarContainer.sticky {
		padding: 2rem 1.5rem;
	}
}
/* ==== TOP NAVBAR END ==== */

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
	position: fixed;
	right: 0%;
	left: 0%;
	bottom: 0%;
	color: white;
	font-size: 3.2rem;
	background-color: black;
	height: 100vh;
	padding: 0rem 8rem;
	z-index: 11111;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.5s;
}

.SideBarContainer ul li {
	position: relative;
	list-style: none;
	margin-bottom: 4rem;
	cursor: pointer;
	padding: 0.4rem 1.5rem;

	a {
		color: #fff;
		text-decoration: none;
		position: relative;
		padding-bottom: 5px;
	}
	.activeNav::after {
		content: "";
		position: absolute;
		left: 0%;
		bottom: 0%;
		height: 14%;
		width: 100%;
		background-color: $themeColor;
		border-radius: 5px;
	}
}
.contactBtnSide {
	border: 3px solid $themeColor;
	border-radius: 15px;
	text-decoration: none;
	font-size: 2.5rem;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CrossBTn {
	position: absolute;
	top: 3.2%;
	right: 5.5%;
	cursor: pointer;
}
/* ==================== SideBAR STYLING END ======================== */

/* ==== MAIN HERO SECTION START ==== */
.mainHero_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(
			-30deg,
			rgba(0, 0, 0, 0.7) 0%,
			rgba(0, 0, 0, 0.7) 100%
		),
		url(../assets/mainImg.svg);

	h1 {
		font-size: 4rem;
		color: #fff;
	}

	p {
		font-size: 1.5rem;
		color: #fff;
	}

	.mainIcons_container {
		max-width: 750px;
		margin: auto;
		display: flex;
		justify-content: space-around;
		margin-top: 5rem;

		img {
			width: 10%;
			height: auto;
		}
	}
}
/* ==== MAIN HERO SECTION END ==== */

// SAME STYLING START
.states_container,
.whoWeAre_container,
.whoWeOffer_container,
.technologies_container,
.build_container,
.getConnected_container,
.twoCards_container,
.history_container,
.contactUs_innerContainer,
.footer_container {
	@include sectionDiv;
	margin: 6rem auto;
}
// SAME STYLING END

/* ==== STATES START ==== */
.states_container {
	.states_card {
		margin: 0rem 2rem;
		margin-bottom: 3rem;
		border: 3px solid $themeColor;
		border-radius: 50%;
		text-align: center;
		width: 190px;
		height: 190px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		div:nth-child(1) {
			font-size: 3rem;
			font-weight: 600;
		}
		div:nth-child(2) {
			font-size: 1.6rem;
		}
	}

	@media screen and (max-width: 500px) {
		.states_card:nth-child(1) {
			width: 140px;
			height: 140px;
			margin-left: 8rem;
			margin-right: 8rem;

			div:nth-child(1) {
				font-size: 2.5rem;
			}
			div:nth-child(2) {
				font-size: 1.5rem;
			}
		}
		.states_card:nth-child(2) {
			width: 160px;
			height: 160px;
			margin-left: 8rem;
			margin-right: 8rem;
		}
		.states_card:nth-child(3) {
			width: 180px;
			height: 180px;
		}
		.states_card:nth-child(4) {
			width: 200px;
			height: 200px;
		}
	}
	@media screen and (max-width: 340px) {
		.states_card:nth-child(1),
		.states_card:nth-child(2) {
			margin-left: 0rem;
			margin-right: 0rem;
		}
	}
}

/* ==== STATES END ==== */

/* ==== WHO WE ARE START ==== */
.whoWeAre_container {
	h1 {
		font-size: 2.8rem;
	}

	h6 {
		font-size: 1.3rem;
	}

	.imageContainer {
		max-width: 680px;
		margin: auto;

		img {
			width: 14%;
			height: auto;
		}

		@media screen and (max-width: 575px) {
			img {
				width: 32%;
			}
		}
	}
	@media screen and (max-width: 575px) {
		.imageContainer {
			max-width: 290px;
		}
	}
}
/* ==== WHO WE ARE END ==== */

/* ==== WHAT WE OFFER START ==== */
.whoWeOffer_container {
	h1 {
		font-size: 2.8rem;
	}
}

// TABS OVERWRITE

/* ==== WHAT WE OFFER END ==== */

/* ==== TECHNOLOGIES WE WORK WITH START ==== */
.technologies_container {
	h1 {
		font-size: 2.8rem;
	}
}
/* ==== TECHNOLOGIES WE WORK WITH END ==== */

/* ==== WE LOVE TO BUILD START ==== */
.build_container {
	h1 {
		font-size: 2.8rem;
	}

	h6 {
		font-size: 1.3rem;
	}

	.build_body {
		margin: 8rem auto;

		.imgContainer1 {
			img {
				width: 60%;
				height: auto;
			}
		}

		.imgContainer2 {
			img {
				width: 90%;
				height: auto;
			}
		}
	}
}
/* ==== WE LOVE TO BUILD END ==== */

/* ==== GET CONNECTED START ==== */
.getConnected_container {
	h1 {
		position: relative;
		font-size: 2rem;

		&::after {
			content: "";
			position: absolute;
			right: 0%;
			top: 0%;
			height: 100%;
			width: 0.5rem;
			background-color: $themeColor;
			border-radius: 5px;
		}
	}

	.imgContainer {
		img {
			width: 14%;
			height: auto;
		}
	}
}
/* ==== GET CONNECTED END ==== */

/* ==== TWO CARDS START==== */
.twoCards_container {
	.each_card {
		background-color: #e2ebf5;
		border-radius: 25px;
		box-shadow: 0px 5px 12px #b7b7b7;

		.imgContainer {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
/* ==== TWO CARDS END ==== */

/* ==== CONTACT US START ==== */
.contactUs_container {
	background-color: #f0f4fa;
	padding: 6rem 0rem;

	.contactInp {
		width: 100%;
		border: none;
		border-bottom: 1px solid rgb(82, 82, 82);
		background-color: transparent;
		height: 25px;
		padding: 0rem 0.8rem;

		&:focus {
			border: none;
			outline: none;
			border-bottom: 1px solid rgb(82, 82, 82);
		}
	}

	textarea {
		border: none;
		overflow: none;
		padding: 0.7rem;
	}

	.imgContainer1 {
		img {
			width: 9%;
		}
	}
	.imgContainer2 {
		img {
			width: 15%;
		}
	}

	.rightSide {
		background-color: $themeColor;
		height: 90%;
		width: 75%;
		border-radius: 25px;
	}

	@media screen and (max-width: 870px) {
		.rightSide {
			width: 95%;
		}
	}

	@media screen and (max-width: 768px) {
		.rightSide {
			height: 400px;
			width: 70%;
		}
	}
}
/* ==== CONTACT US END ==== */

/* ==== FOOTER START ==== */
.footer_container {
	.imgContainer {
		position: relative;

		img {
			width: 100%;
		}

		&::after {
			content: "";
			position: absolute;
			right: 0%;
			top: 0%;
			height: 100%;
			width: 0.5rem;
			background-color: #000;
			border-radius: 10px;
		}
	}

	.imgContainer2 {
		img {
			width: 15%;
		}
	}

	@media screen and (max-width: 668px) {
	}
}

.copyWriteLine {
	background-color: $themeColor;
	font-size: 1.9rem;
}
/* ==== FOOTER END ==== */

/* ==== START A PROJECT START ==== */
.startAProject_heroSection {
	background-image: linear-gradient(
			-30deg,
			rgba(0, 0, 0, 0.7) 0%,
			rgba(0, 0, 0, 0.7) 100%
		),
		url(../assets/mainImg.svg);
	height: 95px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.startAProjectBody_container {
	max-width: 1200px;
	margin: auto;

	.contactInp {
		width: 100%;
		border: none;
		border-bottom: 1px solid #ccc;
		background-color: transparent;
		height: 25px;
		padding: 0rem 0.8rem;

		&:focus {
			border: none;
			outline: none;
			border-bottom: 1px solid #ccc;
		}
	}

	textarea {
		border: 1px solid #ccc;
		overflow: none;
		padding: 0.7rem;
	}

	.imageContainer {
		img {
			width: 100%;
			height: 640px;
		}
	}
}
/* ==== START A PROJECT END ==== */
